<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- This .config file contains the various configuration examples.
  
       log4net
       NLog
  
  -->
  
  <!--  ============= Begin log4net ================  -->
  
  <!--
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="ExcelDna.Integration" switchValue="Verbose">
        <listeners>
          <remove name="Default" />
          <add name="LogDisplay" type="ExcelDna.Logging.LogDisplayTraceListener,ExcelDna.Integration">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Off"/>
          </add>
          <add name="Log4NetListener" type="Cavity.Diagnostics.Log4NetTraceListener,Logging" >
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="LOG4NET: %date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="DebugAppender" />
    </root>
  </log4net>
  -->
  
  <!--  ============= End log4net ================  -->

  <!--  ============= Begin NLog ================  -->

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="ExcelDna.Integration" switchValue="Verbose">
        <listeners>
          <remove name="Default" />
          <add name="LogDisplay" type="ExcelDna.Logging.LogDisplayTraceListener,ExcelDna.Integration">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Off"/>
          </add>
          <add name="NLogListener" type="NLog.NLogTraceListener,NLog" >
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="debugger" xsi:type="Debugger" layout="NLOG: ${longdate}|${level:uppercase=true}|${logger}[${event-properties:EventID}]|${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="debugger" />
    </rules>
  </nlog>

  <!--  ============= End NLog ================  -->
</configuration>