<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- This .config file contains the various configuration examples.
  
       log4net
  
  
  -->
  
  <!--  ============= Begin log4net ================  -->
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- By default the TraceSource is configured to source only Warning, Error and Fatal.
              the configuration can override this by setting switchValue, or create a SourceSwitch. 
              switchValue is a SourceLevel: Off, Critical, Error, Warning (default), Information, Verbose, All 
           By default, LogDisplay is only shown if Errors are present.
      -->
      <source name="ExcelDna.Integration" switchValue="Verbose">
        <listeners>
          <remove name="Default" />
          <!--<clear/>-->
          <add name="LogDisplay" type="ExcelDna.Logging.LogDisplayTraceListener,ExcelDna.Integration">
            <!-- EventTypeFilter takes a SourceLevel: Off, Critical, Error, Warning (default), Information, Verbose, All -->
            <!-- We use the filter here to disable the LogDisplay -->
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Off"/>
          </add>
          <add name="Log4NetListener" type="Cavity.Diagnostics.Log4NetTraceListener,Logging" >
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <!-- Change this setting to "true" if you want to debug the log4net configuration -->
    <add key="log4net.Internal.Debug" value="false"/>
  </appSettings>
  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="LOG4NET: %date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="DebugAppender" />
    </root>
  </log4net>

  <!--  ============= End log4net ================  -->
  
</configuration>